<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeeabooWisdom</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <header>
      <h1>Welcome to Weeaboo Wisdom</h1>
    </header>

    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button  class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">Login</a>
       {{/if}}
    </nav>
    <main>

      {{{body}}}
    </main>
    <footer>
<div class="gif">
  <img src="{{ randomAnimeGif }}" alt="Random Anime GIF Profile Picture" > 
  </div>
</div>

    </footer>
    {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>