<div class="container">

  <h2 class="subtitle">Welcome!</h2>

{{#if loggedIn}}
<a href="/api/animes/search">Anime Seach</a>
<a href="myAnilist">My Anilist</a>
{{else}}
<h2 class="subtitle">To access anime search or list, you need to sign in.</h2>
{{/if}}
</div>