<div class="container">
  <h2 class="subtitle">Welcome! Log In or Sign Up</h2>

{{#if loggedIn}}
<a href="/api/animes/search">Anime Seach</a>
<a href="myAnilist">My Anilist</a>
{{else}}
<h2 class="subtitle">To access anime, you need to sign in.</h2>
{{/if}}

  {{!-- <div class="form-group">
    <button class="btn btn-primary" type="submit">Log In</button>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div> --}}
</div>